@charset "utf-8";
/* CSS Document */
// html,body,p,li,ul,ol,dl,dt,dd,img,span,h1,h2,h3,h4,h5,h6,from,input,textarea
// {padding:0;margin:0;position: relative; overflow-x: hidden;
    // width: 100%;
    // height:100%;
    /* background-color: #f5f5f5;} */
// }
a{
   text-decoration:none;
   color:#333;
}
a:hover{color:#c00;}
ul li,ol li{list-style:none;}
img{border:none;margin:0;}
body{
    color:#333;
    font:0.12rem/0.20rem "微软雅黑","Arial Narrow",HELVETICA;
}
i,em{font-style:normal;}
b,strong{font-style:normal;}
fl{float:left;}
fr{float:right;}
